/* box container */
#boxes-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

/* box formatting */
.box {
    width: 600px;
    height: 800px;
    /* stay on the same line */
    display: inline-block;
    /* prevent div element from getting pushed down */
    vertical-align: top;
}

/* time open info box */
#time-open-box {
    /* text color white since box is black */
    color: white;
    background-color: black;
    text-align: center;
}

/* time open info box's border */
#border {
    /* top and bottom margins: 4% (trial and error), left and right margins: 10px */
    margin: 4% 10px;
    /* width and height finalized through trial and error */
    width: 97%;
    height: 94%;
    /* white border */
    border-style: solid;
    border-color: white;
}

/* form box */
#form-box {
    display: inline-block;
    background-color: rgb(228, 218, 216);
}

/* in time open info box weekday and weekend text */
.info-box-day {
    font-size: 54px;
}

/* reservation box css */
#content2 {
    color: rgb(15, 1, 1);;
}

/* input field styling */
input {
    width: 80%;
    height: 40px;
    text-align: center;
    border-radius: 1px;
    border-style: none;
}

/* input field text input */
input[type="text"], input[type="tel"], input[type="number"] {
    font-family: 'Open Sans Condensed';
    font-size: 24px;
}

/* date and time input fields class */
.date-time-input-field {
    font-family: 'Open Sans Condensed';
    font-size: 20px;
    width: 220px;
}

/* push date text above date input field 
to the left (value retrieved through trial and error)  */
#date-text {
    display: inline-block;
    position: relative;
    right: 90px;
}

/* push time text above date input field 
to the left (value retrieved through trial and error)  */
#time-text {
    display: inline-block;
    position: relative;
    left: 90px;
}

/* push date input field to the left 
(value retrieved through trial and error) */
#date {
    position: relative;
    right: 18px;
}

/* push time input field to the right 
(value retrieved through trial and error) */
#time {
    position: relative;
    left: 18px;
}

/* reservation box's confirm button */
#confirm-button {
    width: 480px;
    height: 90px;
    font-size: 32px;
    color: white;
    border-radius: 25px;
    border-style: none;
    background-color: rgb(125, 111, 107);
}