<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Reservation Manager</title>
</head>
<body>
<div align="center">
    <h1>Reservation List</h1>
    <a href="/new">Create New Reservation</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Reservation ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Day</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${listReservations}">
            <td th:text="${reservation.id}">ID</td>
            <td th:text="${reservation.CustomerName}">Name</td>
            <td th:text="${reservation.Email}">Email</td>
            <td th:text="${reservation.PhoneNumber}">Phone Number</td>
            <td th:text="${reservation.Quantity}">Quantity</td>
            <td th:text="${reservation.Description}">Description</td>
            <td>
                <a th:href="@{'/edit/' + ${reservation.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${reservation.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>